* {
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

/* NAV BAR STYLING */
#navContainer {
  display: flex;
  justify-content: center;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

#navContainer-bg {
  display: flex;
  justify-content: center;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background: linear-gradient(90deg, #434343 0%, #000000 100%);
  transition: 0.9s ease all;
}


#navText {
  font-size: 40px;
  color: white;
  text-decoration: none;
}

#navText-bg {
  font-size: 40px;
  color: white;
  text-decoration: none;
}

#navText:hover {
  font-size: 41px;
  color: #ce162e;
  transition: 0.4s;
  cursor: pointer;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.5);
}

#navText-bg:hover {
  font-size: 41px;
  color: #ce162e;
  transition: 0.3s;
  cursor: pointer;
  text-shadow: 1px 1px rgb(255, 255, 255);
}

#navText::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background: #ce162e;
  transition: width 0.3s;
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.5);
}

#navText-bg::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background: #ce162e;
  transition: width 0.3s;
  box-shadow: 1px 1px 1px rgb(255, 255, 255);
}

#navText:hover::after {
  width: 100%;
}

#navText-bg:hover::after {
  width: 100%;
}


@media screen and (max-width: 960px) {
  #navText {
    transition: 0.8s all ease;
    font-size: 30px;
    color: white;
    text-decoration: none;
  }
}

@media screen and (max-width: 960px) {
  #navText:hover {
    transition: 0.8s all ease;
    font-size: 31px;
    color: #ce243b;
    text-decoration: none;
    cursor: pointer;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.5);
  }
}

/* HOME IMG STYLING */
.homeImg {
  background-image: url("./img/redmnt.jpg");
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

#homeName {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
}

#homeBody {
  display: flex;
  /* height: 100vh; */
  justify-content: center;
  align-items: center;
  font-size: 100px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
}

@media screen and (max-width: 960px) {
  #homeName {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
  }
}

/* HOME SCREEN STYLING */

.aboutImg {
  background-image: url("./img/abstract.jpg");
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

#aboutMeTitle {
  font-size: 100px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
}

#aboutMeBody {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
}
